@import font-awesome-sprockets;
@import font-awesome;
@font-face {
    font-family: Bebas Neue;
    src: url(BebasNeue.otf)
}

@font-face {
    font-family: Guns;
    src: url('Guns 1.ttf')
}

html,
body {
    height: 100%;
    margin: 0
}

section {
    height: 100vh
}

.section2 {
    height: 60vh;
    background: #8b0000
}

.section3 {
    height: 40vh;
    background-color: #000
}

section:nth-child(1) {
    background-image: url(../img/pablo.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

#header h1 {
    font-size: 500%;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    padding-top: 5vh;
    margin-right: 50px;
    margin-bottom: -40px;
    font-weight: 700;
    color: #fff
}

#header p {
    font-size: 150%;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    margin-left: 12vmax;
    font-weight: 700;
    color: #fff
}

#header h2 {
    font-size: 350%;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    color: #fff;
    margin-top: 200px
}

#changingword {
    color: #8b0000
}

#content p {
    font-size: 220%;
    font-family: 'Helvetica', cursive;
    color: #fff;
    text-align: center;
    display: block
}

#content input {
    width: 50px;
    height: 50px;
    font-family: 'Bebas Neue', cursive;
    border: none;
    color: #8b0000;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline
}

#content textarea {
    width: 60%;
    height: 40%;
    border: none;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Arial', cursive;
    padding: 20px;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#footer img {
    padding-top: 10px
}

.lineescobar {
    text-align: left
}

.imgescobar {
    width: 180px;
    height: auto
}

.copy {
    text-align: center
}

.copy button {
    margin-top: 15px
}

.animate {
    transition: all .1s;
    -webkit-transition: all .1s
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid
}

.action-button {
    text-align: center;
    padding: 10px 40px;
    margin: 0 10px 10px 0;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 25px;
    color: #8b0000;
    text-decoration: none
}

.red {
    background-color: #fff
}

.epic_right {
    text-align: right!important
}

.epic_padding_top {
    padding-top: 50px
}

.epic_left {
    text-align: left!important
}

.imgeumbler {
    width: 250px;
    height: auto;
    margin-top: 50px !important;
}

.arrow-5 {
    position: relative;
    height: 0;
    width: 0;
    border: 12px solid;
    margin-left: 100%;
    margin-top: 70%;
    border-color: #fff #fff transparent transparent;
    transform: rotate(135deg)
}

.arrow-5:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 12px;
    width: 16px;
    background-color: #fff;
    transform: rotate(-45deg) translate(2px, 1px)
}

.arrowed {
    position: absolute;
    right: 100px;
    bottom: 100px
}

.social {
    list-style: none;
    padding: 0;
    position: absolute;
    text-align: center;
    margin: 20px;
    display: inline
}

.social li:first-child {
    margin-top: 0
}

.social li {
    margin-top: 10px
}

.social li a {
    display: block;
    margin-top: -10px;
    padding: 10px;
    color: #CDC9C9;
    text-decoration: none;
    line-height: 30px;
    width: 80px;
    font-size: 50px
}

.social a.tw:hover {
    color:white;
}

.social a.fb:hover {
	color: white;
    
}



.center {
    text-align: center;
    padding-top: 40px
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .section2 {
        height: 90vh
    }
}

@media (min-width: 768px) and (max-width: 980px) and (min-height: 1024px) and (max-height: 1280px) {
    .section2 {
        height: 120vh
    }
    .section3 {
        height: 20vh!important
    }
}

@media (min-width: 480px) and (max-width: 991px) {
    section:nth-child(1) {
        background-image: url(../img/pablo-min.png)
    }
    .section2 {
        height: 65vh
    }
    .section3 {
        height: 55vh
    }
    #header h1 {
        font-size: 100px
    }
    #header p {
        font-size: 55px;
        margin-right: 30px
    }
    #header h2 {
        margin-top: 50%;
        font-size: 75px;
        height: 50px
    }
    #content p {
        font-size: 60px
    }
    #content input {
        width: 80px;
        height: 80px
    }
    #content button {
        font-size: 60px
    }
    #content textarea {
        font-size: 40px;
        width: 100%
    }
    .social li a {
        font-size: 60px;
        width: 80px
    }
    .imgescobar {
        margin-top: 100px;
        width: 350px;
        height: auto
    }
    .social {
        margin: 0
    }
    .epic_right {
        text-align: center!important
    }
    .epic_padding_top {
        padding-top: 50px
    }
    .epic_left {
        text-align: center!important
    }
}